:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus { outline: none; }

html, body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
}

.row {
    max-width: 114rem;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)), url(/img/heroBack-min.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

nav {
    height: 6rem;
    margin-bottom: 2rem;
    background-color: transparent;
    padding: 1.5rem 0;
}

.logo {
    display: inline-block;
    float: left;
    color: #efefef;
    font-size: 120%;
    font-weight: 500;
}

.mainNav {
    display: inline-block;
    float: right;
}

.mainNav li {
    display: inline-block;
    float: left;
    padding: 0.5rem 1rem;
    margin-left: 2.5rem;
    font-size: 120%;
    font-weight: 500;
    color: #efefef;
    text-transform: capitalize;
    border: 0.2rem solid transparent;
    transition: 0.2s;
}

.mainNav li:hover {
    border-bottom: 0.2rem solid #b00;
    cursor: pointer;
}

h1 {
    font-family: 'Parisienne', cursive;
    margin: 0;
    font-size: 500%;
    font-weight: 700;
    color: #efefef;
    text-align: center;
    text-shadow: 0.25rem 0rem 0.1rem #ccc;
}

.heroText {
    display: inline-block;
    float: left;
    padding: 7.5rem 2rem;
    margin-top: 1rem;
}

.formSection {
    background-color: #efefef;
    display: inline-block;
    float: right;
    margin-top: 1rem;
}

.formTitle {
    background-color: #b00;
    padding: 2.5rem;
}

h2 {
    color: #efefef;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.formCon {
    padding: 1.5rem;
}

.formRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formCol {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

label {
    padding-bottom: 0.5rem;
}

input[type=text], input[type=date], textarea {
    padding: 0.75rem;
    border-radius: 1rem;
}

input[type=text]:focus, textarea:focus {
    color: #222;
}

input[type=text]::placeholder, textarea {
    color: #c2c2c2;
    font-size: 80%;
}

input[type=date] {
    width: 23.5rem;
}

.flexCenter { text-align: center; }

input[type=submit] {
    width: 20rem;
    text-align: center;
    padding: 1.2rem;
    background-color: #b00;
    color: #efefef;
    text-transform: uppercase;
    cursor: pointer;
}

input[type=submit]:hover { background-color: #f00; }